@media screen and (min-width: 1158px) {

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images-2x/people-office-2x.jpg);
        }
    }

    .header-icon-menu {
        display: none;
    }

    .menu-container {
        display: none;
    }
}